<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag "application" %>

<h1 class="heading">“I got a lot of problems with your people. Now, you’re gonna hear about it…”</h1>
<h3 class="link"><%= link_to 'Add Grievance', new_grievance_path %></h3>
<br>
<div class="content">
  <% @grievances.each do |grievance| %>
    <div class="slide">
      <%= grievance.grievance + ' aggrieved by ' + grievance.name + ' and aggriever by ' + grievance.aggriever + ' on ' + grievance.created_at.strftime("%d/%m/%Y") %>
    </div>
  <% end %>
</div>
