<h1>Grievance</h1>
<h3><%= link_to 'Add Grievance', new_grievance %></h3>
<ul>
  <% @grievances.each do |grievance| %>
    <li>
      <%= link_to grievance.title, grievance %>
    </li>
  <% end %>
</ul>
